.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #121212;
}

#about .container .title {
  z-index: 1;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.0062em;
  color: white;
  /* background: -webkit-linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  background: -moz-linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  background: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%);

  background-clip: text;
  background-size: 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text; */
  margin: 40px;
  display: flex;
}

#about .container .about-me {
  width: 75%;
  height: auto;
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  line-height: 1;
  overflow: hidden;
}

#about .container .mail {
  margin-top: 40px;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  background-color: #444;
  border-radius: 9px;
}

#about .container .mail a {
  color: whitesmoke;
  font-size: 1em;
  text-decoration: none;
  transition: 0.3s;
}

#about .container .mail:hover {
  background-color: #f1f1f1;
  transform: scale(1.2);
}

#about .container .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
}

#about .container .links a {
  padding-right: 20px;
  color: gray;
  transition: 100ms;
}

#about .container .links a:hover {
  transform-origin: center;
  transform: scale(1.2);
  color: white;
}

.anim {
  animation: flow 10s ease-in-out infinite;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.text-transform {
  animation: other 1s ease-in-out;
}

.text-transform-2 {
  animation: other 1s ease-in-out;
  animation-delay: 0.5s;
}

.text-transform-3 {
  animation: upside 1s ease-in-out;
  animation-delay: 0.7s;
}

.hide {
  visibility: hidden;
}

.animation-delay-1s {
  animation-delay: 1s;
}

@keyframes other {
  0% {
    opacity: 0;
    transform-origin: center;
    transform: scale(0.5);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

@keyframes upside {
  0% {
    opacity: 0;
    transform-origin: center;
    transform: scale(0.5);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

@keyframes moveUp {
  from {
    background-color: blue;
    height: 0px;
  }
  to {
    background-color: blue;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  #about .container .title {
    width: 90%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about .container .about-me {
    width: 90%;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 300px) {
  .landing__container .landing__title {
    width: 90%;
    font-size: 2em;
  }
  .landing__subtitle {
    font-size: 0.8em;
  }
}
