#work {
  width: 100vw;
  height: 100vh;
}

#work .work-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  overflow-x: hidden;
  background-color: #121212;
}

.work-container .work-title {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

.work-container .work-details {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.work-container .work-details .left-titles {
  width: 30%;
  height: 100%;
}

.work-container .work-details .left-titles {
  font-size: 1.2em;
  color: gray;
}

.work-container .work-details .left-titles ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work-container .work-details .left-titles ul li {
  cursor: pointer;
  width: 70%;
  margin: 10px;
  line-break: strict;
}

.work-container .work-details .left-titles ul .active {
  color: white;
}

.work-container .work-details .right-desc {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.work-container .work-details .right-desc .details {
  color: white;
}

.text-transform {
  animation: other 1s ease-in-out;
}

.text-transform-2 {
  animation: other 1s ease-in-out;
  animation-delay: 0.5s;
}

.hide {
  visibility: hidden;
}

@keyframes other {
  0% {
    opacity: 0;
    transform-origin: center;
    transform: scale(0.5);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .work-container .work-title {
    font-size: 3em;
  }

  .work-container .work-details {
    width: 90%;
  }

  .work-container .work-details .left-titles {
    width: 40%;
  }
}
